[submodule "agent_system/environments/env_package/webvoyager/webvoyager"]
	path = agent_system/environments/env_package/webvoyager/webvoyager
	url = git@github.com:XiaofengLin7/WebVoyager.git
	branch = main
